h1 {
  color: orchid;
  text-align: center;
}

.container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}

.wrapper {
  /* border: 1px solid gold; */
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell1 {
  border-right: solid orange;
  border-bottom: solid orange;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.cell2 {
  border-bottom: solid orange;
  height: 100px;
  width: 100px;
}

.cell3 {
  border-left: solid orange;
  border-bottom: solid orange;
  height: 100px;
  width: 100px;
}

.cell4 {
  border-right: solid orange;
  border-bottom: solid orange;
  height: 100px;
  width: 100px;
}

.cell5 {
  border-bottom: solid orange;
  height: 100px;
  width: 100px;
}

.cell6 {
  border-left: solid orange;
  border-bottom: solid orange;
  height: 100px;
  width: 100px;
}

.cell7 {
  border-right: solid orange;
  height: 100px;
  width: 100px;
}
.cell8 {
  border-top: solid orange;
  border-style: hidden;
  height: 100px;
  width: 100px;
}

.cell9 {
  border-left: solid orange;
  height: 100px;
  width: 100px;
}
