.wrapper {
  border: solid greenyellow;
}

.row {
  border: solid yellow;
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-around;
}

.cell {
  border: solid orange;
  height: 100px;
  width: 100px;
  
}
h1 {
  border: solid orchid;
  text-align: center;
  color: darkgray;
}
